body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 600px;
}

.label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: */
}

input[type="checkbox"] {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.box {
  display: inline-block;
}
        body{
            background-color: #313030;
        }
        h1{
            color: #fff;
            text-align: center;
        }
        label{
            color: #fff;
        }
        #app-generator-form{
            width: 50%;
            margin: 0 auto;
        }
         #app-generator-form textarea{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            background-color: #fff;
        }
        #app-generator-form button{
            border: none;
            border-radius: 5px;
            background-color: #06a806;
            color: #000;
            font-weight: bold;
                padding: 15px;
    margin: 33px 36% 10px;
    border: none;
    border-radius: 5px;
    background-color: #06a806;
    color: #000;
        }

                .button {
                   background-color: #4CAF50; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
            /* background-color: #4CAF50; /* Green */
            /* border: none; */
            /* color: white; */
            /* padding: 15px 32px; */
            /* text-align: center; */
            /* text-decoration: none; */
            /* display: inline-block; */
            /* font-size: 16px; */
            /* margin: 4px 2px; */
            /* cursor: pointer; */

            /* -webkit-transition-duration: 0.4s; Safari */
            /* transition-duration: 0.4s; */
        } */

        .button1 {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: bold;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }